<div class="dimention p-2">
    <div class="d-flex align-items-center justify-content-between">
        <h5 class="text-center mb-0 mx-3">Withdraw</h5>
        <button mat-icon-button class="close-button" (click)="onCancel()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="col-md-12 col-12 mb-4 mt-4 text-center justify-content-center">
        <form role="form" [formGroup]="formGroup" autocomplete="off" novalidate class="mt-4 mx-3">
            <p *ngIf="data">Withdraw from : <b>{{data.username}}</b></p>

            <div class="col-md-12 col-12">
                <app-input [cssClass]="'w-100'" [isRequired]="true"
                    [control]="validator.convertToFormControl(formGroup.controls['Amount'])" [isFlotingLabel]="true"
                    placeHolder="Enter amount" [maxLength]="10"></app-input>
            </div>
            <div class="col-md-12 col-12 mt-2">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Remark</mat-label>
                    <textarea matInput placeholder="Enter remark..."
                    formControlName="Remark" maxlength="500"></textarea>
                </mat-form-field>
            </div>

            <app-button [color]="'primary'" [cssClass]="'w-50 p-1'" [text]="'Submit'" [btnDisable]="formGroup.invalid"
                (onClickEvent)="onSubmit(formGroup.value)">
            </app-button>
        </form>
    </div>
</div>