.backBtn {
    margin-top: 6px;
    color: #7b809a !important;
    margin-left: 15px;
}
h4, h5, h6 {
    color: #FFFFFF !important;
    letter-spacing: 1px !important;
}
span {
    color: #e1d9d1 !important;
}