.no-padding {
  padding: 0px !important;
  align-content: center;
}
.padding {
  align-items: center;
  color: #000;
  justify-content: center !important;
}
.table td, .table th {
    vertical-align: middle !important;
}