.mat-select-centered {
  width: 50%;
  min-width: 200px;
  margin: 0 auto; /* Ensures horizontal centering */
}
span {
    color: #E1D9D1 !important;
}
h4, h5, h6 {
    color: #FFFFFF !important;
    letter-spacing: 1px !important;
}
.alert_warning_text {
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    padding: 5px;
}
@media (max-width: 576px) {
  .mat-select-centered {
    width: 100%;
    min-width: unset; /* Optional: remove min-width on small screens */
  }
}