<div class="dimention p-2">
    <div class="d-flex align-items-center justify-content-between">
        <h5 class="text-center mb-0 mx-3">Change Password</h5>
        <button mat-icon-button class="close-button" (click)="onCancel()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="col-md-12 col-12 text-center justify-content-center">
        <form role="form" [formGroup]="formGroup" autocomplete="off" novalidate class="mt-4 mx-3">
            <app-input [cssClass]="'w-100'" [isRequired]="true" [type]="'password'" [maxLength]="50"
                [control]="validator.convertToFormControl(formGroup.controls['password'])" [isFlotingLabel]="true"
                placeHolder="Password" [icon]="'visibility_off'" [isPassword]="true"></app-input>

            <app-input [cssClass]="'w-100 mt-2'" [isRequired]="true" [type]="'password'" [maxLength]="30"
                [control]="validator.convertToFormControl(formGroup.controls['confirmPassword'])"
                [isFlotingLabel]="true" placeHolder="Confirm Password" [icon]="'visibility_off'"
                [isPassword]="true"></app-input>

            <div class="pb-3 mt-2 d-flex justify-content-center vertical-align-bottom">
                <button class="p-3 w-100 mx-3" style="color: white;background-color: red;" mat-button
                    (click)="onCancel()">Cancel</button>
                <button [disabled]="formGroup.invalid" class="btn-addd p-3 mx-3 w-100" mat-button
                    (click)="onSubmit(formGroup.value)">Submit</button>
            </div>
        </form>
    </div>
</div>