<mat-toolbar color="primary">
    <mat-toolbar-row>
        <app-button *ngIf="isDashboardRoute" [btntype]="'icon'" [color]="'white'" [cssClass]="'w-100 p-1 main-back'"
            [text]="''" [icon]="'arrow_back_ios'" (onClickEvent)="onGoBack()">
        </app-button>
        <!-- <span class="pointer" [routerLink]="appModuleInterface.dashboardPath">{{title}}</span> -->
        <img class="app-logo pointer" [routerLink]="appModuleInterface.dashboardPath" src="assets/images/new_logo.png" alt="Logo" />
        <span class="toolbar-spacer"></span>
        <div class="d-flex align-items-center">
            <a *ngIf="role == 'USER'" href="javascript:void(0);" class="mx-4 d-flex align-items-center">
                <mat-icon class="tab-icon">account_balance</mat-icon>
                <span class="tab-name">{{ userInfo.balance === null || userInfo.balance === undefined ? 'No Balance' : (userInfo.balance | indianNumber:0) }}</span>
            </a>
            <div *ngIf="role == 'ADMIN'" class="notification-container mx-3">
                <mat-icon class="mat-icon mt-1 mat-badge mx-2 pointer" [routerLink]="count > 0 ? appModuleInterface.allRequestsPath : null">notifications</mat-icon>
                <span class="badge" *ngIf="count">
                    {{ count > 9 ? '9+' : count }}
                </span>
            </div>

            <a *ngIf="userInfo" href="javascript:void(0);" [matMenuTriggerFor]="menu" class="d-flex align-items-center">
                <mat-icon class="tab-icon">person</mat-icon>
                <span class="tab-name">{{userInfo.username}}</span>
                <mat-icon class="tab-icon">arrow_drop_down</mat-icon>
                <mat-menu #menu="matMenu">
                    <div mat-menu-item class="d-flex align-items-center" (click)="onChangePassword()">
                        <mat-icon style="font-size: 18px;color: #000;margin-right: 0px;margin-top: 5px;">lock</mat-icon>
                        <span style="font-size: 16;color: #000;" class="tab-name">Change Password</span>
                    </div>
                    <div mat-menu-item class="d-flex align-items-center" (click)="onLogout()">
                        <mat-icon
                            style="font-size: 18px;color: #000;margin-right: 0px;margin-top: 5px;">logout</mat-icon>
                        <span style="font-size: 16;color: #000;" class="tab-name">Logout</span>
                    </div>
                </mat-menu>
            </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<!-- <mat-sidenav-container class="sidenav-container">
    <mat-sidenav-content>
        <div class="main" style="background-color: #f8f8f8;"> -->
<router-outlet #outlet="outlet"></router-outlet>
<!-- </div>
    </mat-sidenav-content>
</mat-sidenav-container> -->