h5 {
    color: #861f41 !important;
}
.possitive-tag {
    background-color: #6aa84f;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
}
.rejected-tag {
    background-color: #c00;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
}
p {
    color: #000 !important;
    font-weight: 500;
    font-size: 15px;
}
.total-p {
    font-weight: 600;
    font-size: 16px;
}
.alert-primary {
    background-color: #861f41 !important;
    background-image: none;
}
.alert-primary {
    color: #fff;
    background-color: #fff;
    border-color: #fff;
}
.card .card-body {
    padding: 15px;
}
.border-bottom {
    border-bottom: 1px solid #d3d3d3 !important;
}
.total-tag {
    background-color: #ebeb33;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    // font-size: 10px;
}
.font-s-w {
    font-weight: 600 !important;
    font-size: 16px !important;
}