.bg-gradient-dark {
    background-color: #861f41 !important;
    background-image: none !important;
    align-items: center;
    justify-content: center;
}
.login-logo {
  height: 60px;
  width: auto;
  object-fit: contain;
}